<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @problem.name %>
</p>

<p>
  <b>Citizen:</b>
  <%= @problem.citizen %>
</p>

<p>
  <b>Kanopy:</b>
  <%= @problem.kanopy %>
</p>


<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
